{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block pagecontent %}
<h1 class="text-center">Quisko Don Cortez</h1>
<h3 class="text-center">¡No sabemos lo que vendemos, pero igual lo facturamos!</h3>
<div class="col-md-4 col-md-offset-4">
    <h2>Login:</h2>
	<p style="padding:15px" class="bg-info">Debes inciar sesion para usar el sitema de facturación o reportes.</p>
    <form method="post" action="/login">
    {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="Login">
    </form>
</div>

{% endblock %}