input[type=number] {
text-align:right;
}

.totales::before  {
	content: "$";
}

table > tbody > tr > td > input {
	text-align: right;
}

table > tbody > tr > td > select {
	width: 100%;
}