html {
  position: relative;
  min-height: 100%;
}

body > div.container {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}

input[type=number] {
text-align:right;
}

.totales::before  {
	content: "$";
}

#documento-form {
	padding-bottom: 20px;
}

table > tbody > tr > td > input {
	text-align: right;
}

table > tbody > tr > td > select {
	width: 100%;
}

.footer{
	background-color: #0c1a1e;
	bottom: 0;
	color: white;
	height: 150px;
	position: absolute;
	width: 100%;
}

.copyright {
	background-color: #000000;
	bottom: 0;
	color: white;
	height: 40px;
	position: absolute;
	padding: 10px 10px;
	width: 100%;
}