{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block pagecontent %}
	<!-- Main component for a primary marketing message or call to action -->
	<div class="page-header">
		<h1>Reporte de Diario</h1>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th># Factura</th>
				<th>Fecha</th>
				<th>Cliente</th>
				<th>Tipo Pago</th>
				<th>Iva</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for factura in object_list %}
			<tr>
				<td>{{ factura.docid }}</td>
				<td>{{ factura.created }}</td>
				<td>{{ factura.cliente }}</td>
				<td>{{ factura.get_payment_display }}</td>
				<td>{{ factura.iva }}</td>
				<td>{{ factura.documentodetalle__subtotal__sum }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}