{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block pagecontent %}
	<!-- Main component for a primary marketing message or call to action -->
	<div class="page-header">
		<h1>Módulo de Facturación</h1>
	</div>
	<form id="documento-form" method="post" action="/facturacion">
	{% csrf_token %}
	<div  class="row">
		<div class="col-md-6">
			<div class="form-group">
				<h3>Cliente:</h3>
			</div>
				{{ formCliente|crispy }}
			<!-- <input id="cli_upd" class="btn btn-primary" type="button" value="Actualizar o Crear"> -->
		</div>
		<div class="col-md-6 ">
			<div class="form-group">
				<h3>QUIOSCO "DON CORTEZ"</h3>
				<h3>RUC: 0992180021001</h3>
				<h4>Fecha y Hora: {% now "d/m/Y H:i" %}</h4>
				<h4>Número de Autorización: 2604201701200100400008195409921800215</h4>
				<h4>Direción Matriz: VÍCTOR MANUEL RENDÓN 236 Y PEDRO CARBO</h4>
			</div>
				{{ formDocCab|crispy }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
				<h3>Detalle:</h3>
		</div>
	</div>
	<div class="row">
		<div class="table-responsive">
			<table class="table">
				{{ formSetDocDet.management_form }}
				{% for form in formSetDocDet %}
					{% if forloop.first %}
						<thead>
							<tr>
								{% for field in form.visible_fields %}
									<th>{{ field.label|capfirst }}</th>
								{% endfor %}
							</tr>
						</thead>
					{% endif %}
					<tr>
						{% for field in form.visible_fields %}
							<td>
								{{ field }}
							</td>
						{% endfor %}
					</tr>
	 			{% endfor %}
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 pull-right">
			<div class="col-md-6">
				<div>SUBTOTAL SIN IMPUESTOS</div>
				<div>SUBTOTAL 14%</div>
				<div>SUBTOTAL 0%</div>
				<div>DESCUENTOS</div>
				<div>VALOR ICE</div>
				<div>VALOR IVA 14%</div>
				<div>TOTAL</div>
				<script>
					document.addEventListener("DOMContentLoaded", function() {
					makethemath("a-0");
					});
				</script>
			</div>
			<div class="col-md-6 text-right">
				<div>
					<span id="totales-subtotal-sin-imp" class="totales">0.00</span>
				</div>
				<div>
					<span id="totales-subtotal-14" class="totales">0.00</span>
				</div>
				<div>
					<span id="totales-subtotal-0" class="totales">0.00</span>
				</div>
				<div>
					<span id="totales-descuentos" class="totales">0.00</span>
				</div>
				<div>
					<span id="totales-ice" class="totales">0.00</span>
				</div>
				<div>
					<span id="totales-iva-14" class="totales">0.00</span>
				</div>
				<div>
					<span id="totales-total" class="totales">0.00</span>
				</div>
			</div>
		</div>
	</div>
	<input class="btn btn-success" type="submit" value="Generar Doc.">
	<a href="/facturacion"><button id="clean_form" class="btn btn-warning" type="button"> Limpiar Formulario</button></a>
	</form>
{% endblock %}